/* style_dashboard_admin.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    background-color: #1e90ff; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-top: 0; 
}


.permission-list {
    list-style-type: none;
    padding: 0;
}


.permission-list li {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.permission-info {
    margin-bottom: 10px;
}


.info-label {
    font-weight: bold;
    margin-bottom: 5px;
}


.info-value {
    margin-left: 10px;
    margin-bottom: 10px;
}


form {
    display: inline-block;
}


button[type="submit"] {
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    opacity: 0.8;
}


button[name="action"][value="approve"] {
    background-color: #4caf50;
}

button[name="action"][value="approve"]:hover {
    background-color: #388e3c;
}

button[name="action"][value="reject"] {
    background-color: #ff0000;
}

button[name="action"][value="reject"]:hover {
    background-color: #cc0000;
}

button[name="action"][value="delete"] {
    background-color: #ffd700;
    color: #000;
}

button[name="action"][value="delete"]:hover {
    background-color: #e6c200;
}


button.logout {
    background-color: #1e90ff;
}

button.logout:hover {
    background-color: #007bff;
}


.message {
    color: green;
    font-weight: bold;
}
